nav {
    position: fixed;
    width: 100%;
    background-color: rgb(70,130,180);
    text-align: left;
    padding: 7px 15px 7px 31px;
    color: white;
    height: 38px;
}

nav > i {
    font-size: 30px;
    padding-right: 21px;
    cursor: pointer;
    transition: all 0.75s ease;
}

nav > h1 {
    display: inline-block;
    font-size: 29px;
}

#navigation {
    background-color: rgb(70,130,180, 0.3);
    color: black;
    list-style: none;
    width: 169px;
    padding: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: left;
    transition: all 0.75s ease;
    z-index: -1;
    margin-top: -200px;
    opacity: 0;
}

#navigation > li {
    padding: 5px;
}

#navigation > li > i {
    margin-right: 9px;
}

