@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body main {
    margin-top: 90px;
    padding: 15px;
}

.txt-center {
    text-align: center;
}